# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

network-security.data
recentf
custom-variables.el
straight/
auto-save-list/
server/
transient/
smex-items
elpa/